body{
    font-family: 'Oxygen', sans-serif;
}
h1{
    font-size: 70px;
}
h2{
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
}
p{
    color: gray;
    font-weight: 700;
}
.worked{
    text-align: right;
    float: right;
    font-weight: 700;
    margin: 10px;
}
.main-line{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    margin top: 10px;
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg,orange, red);
    padding: 10px 20px;
    border-radius: 5px;
}
.third-width{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.third-width img{
    width: 100%;
}
.single-work{
    box-shadow:10px 10px 40px grey;
    border-radius: 10px;
}
.job-area{
    clear: both;
    margin-left: 10%;
}



